body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

header{
background: rgb(0,0,0);
}

#secondPart {
  width: 100vw;  /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background: rgb(0,0,0);
}

section{
  background: rgb(0,0,0);
} 
/**/
/*#secondpart::before{*/
/*  content:'';*/
/*  position: flex;*/
/*  bottom:0;*/
/*  width: 100%;*/
/*  height: 50px;*/
/*  background: linear-gradient(to top, rgb(255,255,255), transparent);*/
/*  z-index: 1000;*/
/*}*/

/* Ensure the body can scroll to show the second section */
html, body {
   background: rgb(0,0,0);
  /*margin: 0;*/
  /*padding: 0;*/
  scroll-behavior: smooth;
  overflow-x: hidden;
}
